.portfolio6-about {
  padding: 60px 20px;
  text-align: center;
}

.portfolio6-about-content {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
