.projects-section {
    padding: 10rem 0;
    background-color: #fff;
}

.projects-title {
    text-align: center;
    margin-bottom: 5rem;
}

.projects-subtitle {
    color: #ff9900;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.projects-title h2 {
    font-size: 4rem;
    color: #2d2e32;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20rem, auto);
    gap: 3rem;
    max-width: 120rem;
    margin: 0 auto;
}

.project-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.project-info {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info h3 {
    font-size: 2rem;
    color: #fff;
}

.project-link {
    font-size: 2rem;
    color: #fff;
}

.r1-c1 {
    grid-column: 1 / 3;
}

.r1-c2 {
    grid-column: 3 / 6;
}

.r2-c1 {
    grid-column: 1 / 2;
}

.r2-c2 {
    grid-column: 2 / 4;
}

.r2-c3 {
    grid-column: 4 / 6;
}

.r3-c1 {
    grid-column: 1 / 4;
}

.r3-c2 {
    grid-column: 4 / 6;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .project-card {
        height: 25rem;
    }

    .r1-c1,
    .r1-c2,
    .r2-c1,
    .r2-c2,
    .r2-c3,
    .r3-c1,
    .r3-c2 {
        grid-column: auto;
    }
}
