.projects-page-section {
    padding: 10rem 0;
    font-family: 'Poppins', sans-serif;
}

.projects-page-header {
    text-align: center;
    margin-bottom: 6rem;
}

.projects-page-subtitle {
    font-size: 1.6rem;
    color: #ffc107;
    margin-bottom: 1rem;
}

.projects-page-title {
    font-size: 5rem;
    font-weight: 900;
    color: #000;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    height: 300px;
    background-color: #e0e0e0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.project-card-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project-card-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    color: #fff;
    background-color: #cacaca;
}

.project-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-card-content h3 {
    font-size: 2rem;
    font-weight: 600;
}

.project-card-content a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.project-card-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project-card-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project-card-5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.project-card-6 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 350px;
}

.project-card-7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 350px;
}
