.portfolio6-header {
  background-color: #ffffff;
 
  padding: 80px 20px;
  text-align: center;
}

.portfolio6-header-title {
    color: #1a1a1a;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-weight: bold;
}

.portfolio6-header-subtitle {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

.portfolio6-header-buttons {
  margin-top: 30px;
}

.portfolio6-header-buttons button {
  margin: 10px;
  padding: 12px 24px;
  cursor: pointer;
   width: 160px;
  height: 48px;
  border-radius: 8px;
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
