.blog-section {
    padding: 5rem 0;
}

.blog-header {
    text-align: center;
    margin-bottom: 3rem;
}

.blog-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffc107;
}

.blog-title {
    font-size: 3.5rem;
    font-weight: 900;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.blog-card {

}

.blog-card-image {
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.blog-card-content {
    padding: 1.5rem 0;
}

.blog-card-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.blog-card-date {
    color: #ffc107;
}

.blog-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blog-card-link {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}
