
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #2d2e32;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
  color: #2d2e32;
  font-size: 2.5rem;
}
